body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sandbox {
    background: black;
    border: 1px solid white;
    image-rendering: pixelated;
}